{% extends 'base.html' %}
{% load static %}

<title> Home Page Template </title>

{% block  base_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}



{% block content %}
<div class = "text-center">
  <h1>{{ title }}</h1>
  <h1>Hello, world!</h1>
</div>
<div class="container">
<div class="row">
  <div class="col">
    <img src="{% static 'images/img.jpeg' %}" class = 'img-fluid' />
    <p>{{ p_content }}</p>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col">
      <img src="{% static 'images/img.jpeg' %}" class = 'img-fluid' />
      <p>{{ p_content }}</p>
    </div>
  </div>
{% endif %}
</div>


{% endblock%}
